n11/n11ClaimCancelService.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.n11.com/ws/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.n11.com/ws/schemas" targetNamespace="http://www.n11.com/ws/schemas">
    <wsdl:types>
        <xs:schema xmlns:n11="http://www.n11.com/ws/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.n11.com/ws/schemas">
            <xs:element name="ClaimCancelListRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="searchData" type="n11:ClaimCancelSearch"/>
                        <xs:element name="pagingData" type="n11:CancelRequestPagingData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ClaimCancelListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element name="pagingData" type="n11:PagingData"/>
                        <xs:element minOccurs="0" name="claimCancelList" type="n11:ClaimCancelDataList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ClaimCancelDenyReasonTypeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ClaimCancelDenyReasonTypeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element name="denyReasonTypeDataList" type="n11:DenyReasonTypeDataList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ClaimCancelDenyRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="claimCancelId" type="xs:long"/>
                        <xs:element name="denyReasonId" type="xs:long"/>
                        <xs:element name="denyReasonNote" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ClaimCancelDenyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ClaimCancelApproveRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="claimCancelId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ClaimCancelApproveResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="CancelRequestPagingData">
                <xs:sequence>
                    <xs:element name="currentPage" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimCancelSearch">
                <xs:sequence>
                    <xs:element name="status" type="xs:string"/>
                    <xs:element name="executer" type="xs:string"/>
                    <xs:element name="searchInfoType" type="xs:string"/>
                    <xs:element name="searchQuery" type="xs:string"/>
                    <xs:element name="searchDate" type="n11:ClaimCancelDateData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimCancelDateData">
                <xs:sequence>
                    <xs:element name="searchDateType" type="xs:string"/>
                    <xs:element name="period" type="n11:DateRangeApiModel"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DateRangeApiModel">
                <xs:sequence>
                    <xs:element name="startDate" nillable="true" type="xs:string"/>
                    <xs:element name="endDate" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimCancelDataList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cancel" type="n11:ClaimCancelData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimCancelData">
                <xs:sequence>
                    <xs:element name="claimCancelId" type="xs:long"/>
                    <xs:element name="status" type="n11:ClaimCancelStatus"/>
                    <xs:element name="executer" type="n11:ClaimExecuterType"/>
                    <xs:element name="cancelReasonType" type="xs:string"/>
                    <xs:element name="cancelReasonDescription" type="xs:string"/>
                    <xs:element name="orderNumber" type="xs:string"/>
                    <xs:element name="shipmentMethod" type="xs:string"/>
                    <xs:element name="bundleName" type="xs:string"/>
                    <xs:element name="requestDate" type="xs:date"/>
                    <xs:element name="deniedDate" type="xs:date"/>
                    <xs:element name="completedDate" type="xs:date"/>
                    <xs:element name="productId" type="xs:string"/>
                    <xs:element name="productName" type="xs:string"/>
                    <xs:element name="quantity" type="xs:string"/>
                    <xs:element name="unitPrice" type="xs:decimal"/>
                    <xs:element name="finalPrice" type="xs:decimal"/>
                    <xs:element name="denyReasonType" type="xs:string"/>
                    <xs:element name="denyReasonDescription" type="xs:string"/>
                    <xs:element name="shipmentCompany" type="xs:string"/>
                    <xs:element name="deliveryFeeType" type="xs:string"/>
                    <xs:element name="buyerPhone" type="xs:string"/>
                    <xs:element name="buyerEmail" type="xs:string"/>
                    <xs:element name="buyerName" type="xs:string"/>
                    <xs:element name="paymentDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DenyReasonTypeData">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DenyReasonTypeDataList">
                <xs:sequence>
                    <xs:element name="denyReasonTypeData" type="n11:DenyReasonTypeData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimCancelStatus">
                <xs:sequence>
                    <xs:element name="REQUESTED" type="xs:string"/>
                    <xs:element name="RETRACTED" type="xs:string"/>
                    <xs:element name="COMPLETED" type="xs:string"/>
                    <xs:element name="DENIED" type="xs:string"/>
                    <xs:element name="REJECT" type="xs:string"/>
                    <xs:element name="MANUAL_REFUND" type="xs:string"/>
                    <xs:element name="ALL" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimExecuterType">
                <xs:sequence>
                    <xs:element name="BUYER" type="xs:string"/>
                    <xs:element name="SELLER" type="xs:string"/>
                    <xs:element name="OPERATOR" type="xs:string"/>
                    <xs:element name="SYSTEM" type="xs:string"/>
                    <xs:element name="SHIPMENT" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimSearchType">
                <xs:sequence>
                    <xs:element name="BUYEREMAIL" type="xs:string"/>
                    <xs:element name="RECIPIENTS" type="xs:string"/>
                    <xs:element name="BUYERNAME" type="xs:string"/>
                    <xs:element name="ORDERID" type="xs:string"/>
                    <xs:element name="PRODUCTID" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimCancelDateType">
                <xs:sequence>
                    <xs:element name="REQUESTED" type="xs:string"/>
                    <xs:element name="ACCEPTED" type="xs:string"/>
                    <xs:element name="DENIED" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseRequest">
                <xs:sequence>
                    <xs:element name="authentication" type="n11:Authentication"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Authentication">
                <xs:sequence>
                    <xs:element name="appKey" type="xs:string"/>
                    <xs:element name="appSecret" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCategory" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResultInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCategory" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PagingData">
                <xs:sequence>
                    <xs:element name="currentPage" nillable="true" type="xs:int"/>
                    <xs:element name="pageSize" nillable="true" type="xs:int"/>
                    <xs:element name="totalCount" nillable="true" type="xs:long"/>
                    <xs:element name="pageCount" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RequestPagingData">
                <xs:sequence>
                    <xs:element name="currentPage" nillable="true" type="xs:int"/>
                    <xs:element name="pageSize" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ClaimCancelListRequest">
        <wsdl:part element="tns:ClaimCancelListRequest" name="ClaimCancelListRequest"/>
    </wsdl:message>
    <wsdl:message name="ClaimCancelListResponse">
        <wsdl:part element="tns:ClaimCancelListResponse" name="ClaimCancelListResponse"/>
    </wsdl:message>
    <wsdl:message name="ClaimCancelDenyReasonTypeRequest">
        <wsdl:part element="tns:ClaimCancelDenyReasonTypeRequest" name="ClaimCancelDenyReasonTypeRequest"/>
    </wsdl:message>
    <wsdl:message name="ClaimCancelDenyReasonTypeResponse">
        <wsdl:part element="tns:ClaimCancelDenyReasonTypeResponse" name="ClaimCancelDenyReasonTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="ClaimCancelDenyRequest">
        <wsdl:part element="tns:ClaimCancelDenyRequest" name="ClaimCancelDenyRequest"/>
    </wsdl:message>
    <wsdl:message name="ClaimCancelDenyResponse">
        <wsdl:part element="tns:ClaimCancelDenyResponse" name="ClaimCancelDenyResponse"/>
    </wsdl:message>
    <wsdl:message name="ClaimCancelApproveRequest">
        <wsdl:part element="tns:ClaimCancelApproveRequest" name="ClaimCancelApproveRequest"/>
    </wsdl:message>
    <wsdl:message name="ClaimCancelApproveResponse">
        <wsdl:part element="tns:ClaimCancelApproveResponse" name="ClaimCancelApproveResponse"/>
    </wsdl:message>
    <wsdl:portType name="ClaimCancelServicePort">
        <wsdl:operation name="ClaimCancelList">
            <wsdl:input message="tns:ClaimCancelListRequest" name="ClaimCancelListRequest"/>
            <wsdl:output message="tns:ClaimCancelListResponse" name="ClaimCancelListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ClaimCancelDenyReasonType">
            <wsdl:input message="tns:ClaimCancelDenyReasonTypeRequest" name="ClaimCancelDenyReasonTypeRequest"/>
            <wsdl:output message="tns:ClaimCancelDenyReasonTypeResponse" name="ClaimCancelDenyReasonTypeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ClaimCancelDeny">
            <wsdl:input message="tns:ClaimCancelDenyRequest" name="ClaimCancelDenyRequest"/>
            <wsdl:output message="tns:ClaimCancelDenyResponse" name="ClaimCancelDenyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ClaimCancelApprove">
            <wsdl:input message="tns:ClaimCancelApproveRequest" name="ClaimCancelApproveRequest"/>
            <wsdl:output message="tns:ClaimCancelApproveResponse" name="ClaimCancelApproveResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClaimCancelServicePortSoap11" type="tns:ClaimCancelServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ClaimCancelList">
            <soap:operation soapAction=""/>
            <wsdl:input name="ClaimCancelListRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ClaimCancelListResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ClaimCancelDenyReasonType">
            <soap:operation soapAction=""/>
            <wsdl:input name="ClaimCancelDenyReasonTypeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ClaimCancelDenyReasonTypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ClaimCancelDeny">
            <soap:operation soapAction=""/>
            <wsdl:input name="ClaimCancelDenyRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ClaimCancelDenyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ClaimCancelApprove">
            <soap:operation soapAction=""/>
            <wsdl:input name="ClaimCancelApproveRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ClaimCancelApproveResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClaimCancelServicePortService">
        <wsdl:port binding="tns:ClaimCancelServicePortSoap11" name="ClaimCancelServicePortSoap11">
            <soap:address location="https://api.n11.com/ws/claimCancelService/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>