n11/n11ProductStockService.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.n11.com/ws/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.n11.com/ws/schemas" targetNamespace="http://www.n11.com/ws/schemas">
    <wsdl:types>
        <xs:schema xmlns:n11="http://www.n11.com/ws/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.n11.com/ws/schemas">
            <xs:element name="GetProductStockByProductIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="productId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetProductStockByProductIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element name="stockItems" type="n11:ProductSkuItemList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetProductStockByProductSellerCodeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="productSellerCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetProductStockByProductSellerCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element name="stockItems" type="n11:ProductSkuItemList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IncreaseStockByStockIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="stockItems" type="n11:StockItemForAddStockWithIdList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IncreaseStockByStockIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element maxOccurs="unbounded" name="stockItems" type="n11:StockItemList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IncreaseStockByStockSellerCodeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="stockItems" type="n11:StockItemForAddStockWithSellerStockCodeList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IncreaseStockByStockSellerCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element maxOccurs="unbounded" name="stockItems" type="n11:StockItemList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IncreaseStockByStockAttributesRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="product" type="n11:ProductWithIdAndStockAttributes"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IncreaseStockByStockAttributesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element maxOccurs="unbounded" name="stockItems" type="n11:StockItemList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateStockByStockIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="stockItems" type="n11:StockItemForUpdateStockWithIdList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateStockByStockIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element maxOccurs="unbounded" name="stockItems" type="n11:StockItemList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateStockByStockSellerCodeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="stockItems" type="n11:StockItemForUpdateStockWithSellerStockCodeList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateStockByStockSellerCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element maxOccurs="unbounded" name="stockItems" type="n11:StockItemList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteAndUpdateStockByStockAttributesRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="auth" type="n11:Authentication"/>
                        <xs:element name="product" type="n11:ProductWithIdAndStockAttributesForUpdate"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteAndUpdateStockByStockAttributesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element maxOccurs="unbounded" name="stockItems" type="n11:StockItemList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="subtitle" type="xs:string"/>
                    <xs:element name="displayPrice" type="xs:decimal"/>
                    <xs:element name="price" type="xs:decimal"/>
                    <xs:element name="productSellerCode" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="category" type="n11:Category"/>
                    <xs:element name="specialProductInfoList" nillable="true" type="n11:SpecialProductInfoList"/>
                    <xs:element name="preparingDay" type="xs:integer"/>
                    <xs:element name="saleStartDate" type="xs:string"/>
                    <xs:element name="saleEndDate" type="xs:string"/>
                    <xs:element name="productCondition" type="xs:string"/>
                    <xs:element name="expirationDate" type="xs:string"/>
                    <xs:element name="images" type="n11:ProductImageList"/>
                    <xs:element name="stockItems" type="n11:ProductSkuList"/>
                    <xs:element name="discount" type="n11:ProductDiscount"/>
                    <xs:element name="shipmentTemplate" type="xs:string"/>
                    <xs:element name="groupAttribute" type="xs:string"/>
                    <xs:element name="groupItemCode" type="xs:string"/>
                    <xs:element name="itemName" type="xs:string"/>
                    <xs:element name="attributes" nillable="true" type="n11:ProductAttributeList"/>
                    <xs:element name="approvalStatus" nillable="true" type="xs:integer"/>
                    <xs:element name="saleStatus" type="xs:integer"/>
                    <xs:element name="currencyAmount" type="xs:decimal"/>
                    <xs:element name="currencyType" type="xs:integer"/>
                    <xs:element name="unitInfo" type="n11:ProductUnitInfoModel"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SpecialProductInfoList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="specialProductInfo" type="n11:SpecialProductInfoApiModel"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductBasicList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="product" type="n11:ProductBasic"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductRequest">
                <xs:sequence>
                    <xs:element name="productSellerCode" type="xs:string"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="subtitle" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="domestic" type="xs:boolean"/>
                    <xs:element name="category" type="n11:CategoryRequest"/>
                    <xs:element name="specialProductInfoList" nillable="true" type="n11:SpecialProductInfoList"/>
                    <xs:element name="price" type="xs:decimal"/>
                    <xs:element name="currencyType" type="xs:integer"/>
                    <xs:element name="images" type="n11:ProductImageList"/>
                    <xs:element name="approvalStatus" nillable="true" type="xs:integer"/>
                    <xs:element name="groupAttribute" type="xs:string"/>
                    <xs:element name="groupItemCode" type="xs:string"/>
                    <xs:element name="itemName" type="xs:string"/>
                    <xs:element name="attributes" type="n11:ProductAttributeRequestList"/>
                    <xs:element name="saleStartDate" type="xs:string"/>
                    <xs:element name="saleEndDate" type="xs:string"/>
                    <xs:element name="productionDate" type="xs:string"/>
                    <xs:element name="expirationDate" type="xs:string"/>
                    <xs:element name="productCondition" type="xs:string"/>
                    <xs:element name="preparingDay" type="xs:integer"/>
                    <xs:element name="discount" type="n11:ProductDiscountRequest"/>
                    <xs:element name="shipmentTemplate" type="xs:string"/>
                    <xs:element name="stockItems" type="n11:ProductSkuRequestList"/>
                    <xs:element name="unitInfo" type="n11:ProductUnitInfoModel"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductBasic">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="productSellerCode" type="xs:string"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="subtitle" type="xs:string"/>
                    <xs:element name="price" type="xs:decimal"/>
                    <xs:element name="displayPrice" type="xs:decimal"/>
                    <xs:element name="isDomestic" type="xs:boolean"/>
                    <xs:element name="saleStatus" type="xs:integer"/>
                    <xs:element name="approvalStatus" nillable="true" type="xs:integer"/>
                    <xs:element name="stockItems" type="n11:ProductSkuList"/>
                    <xs:element name="oldPrice" type="xs:decimal"/>
                    <xs:element name="currencyAmount" type="xs:decimal"/>
                    <xs:element name="currencyType" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductData">
                <xs:sequence>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="subTitle" type="xs:string"/>
                    <xs:element name="producedDate" type="xs:string"/>
                    <xs:element name="expireDate" type="xs:string"/>
                    <xs:element name="saleEndDate" type="xs:string"/>
                    <xs:element name="saleStartDate" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="price" type="xs:decimal"/>
                    <xs:element name="maxPurchaseQuantity" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductQuestion">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="productId" type="xs:long"/>
                    <xs:element name="productTitle" type="xs:string"/>
                    <xs:element name="questionSubject" type="xs:string"/>
                    <xs:element name="question" type="xs:string"/>
                    <xs:element name="answer" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductQuestionList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="productQuestion" type="n11:ProductQuestion"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductQuestionDetail">
                <xs:sequence>
                    <xs:element name="productId" type="xs:long"/>
                    <xs:element name="productTitle" type="xs:string"/>
                    <xs:element name="questionSubject" type="xs:string"/>
                    <xs:element name="question" type="xs:string"/>
                    <xs:element name="answer" type="xs:string"/>
                    <xs:element name="fullName" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="productStatus" type="xs:string"/>
                    <xs:element name="status" type="xs:string"/>
                    <xs:element name="questionDate" type="xs:date"/>
                    <xs:element name="answeredDate" type="xs:date"/>
                    <xs:element name="sellerExpose" type="xs:string"/>
                    <xs:element name="buyerExpose" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Category">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="fullName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CategoryRequest">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SpecialProductInfoApiModel">
                <xs:sequence>
                    <xs:element name="key" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductImage">
                <xs:sequence>
                    <xs:element name="url" type="xs:string"/>
                    <xs:element name="order" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductImageList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="image" type="n11:ProductImage"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductSku">
                <xs:complexContent>
                    <xs:extension base="n11:ProductSkuBasic">
                        <xs:sequence>
                            <xs:element name="id" type="xs:long"/>
                            <xs:element name="version" type="xs:long"/>
                            <xs:element name="quantity" type="xs:integer"/>
                            <xs:element name="attributes" type="n11:ProductAttributeList"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ProductSkuBasic">
                <xs:complexContent>
                    <xs:extension base="n11:ProductSkuBasicRequest">
                        <xs:sequence>
                            <xs:element name="currencyAmount" type="xs:decimal"/>
                            <xs:element name="displayPrice" type="xs:decimal"/>
                            <xs:element name="oldOptionPrice" type="xs:decimal"/>
                            <xs:element name="gtin" type="xs:string"/>
                            <xs:element name="n11CatalogId" type="xs:long"/>
                            <xs:element name="mpn" type="xs:string"/>
                            <xs:element name="oem" type="xs:string"/>
                            <xs:element name="bundle" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ProductSkuBasicRequest">
                <xs:sequence>
                    <xs:element name="sellerStockCode" type="xs:string"/>
                    <xs:element name="optionPrice" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductUpdateSkuBasicRequest">
                <xs:sequence>
                    <xs:element name="sellerStockCode" type="xs:string"/>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="optionPrice" type="xs:decimal"/>
                    <xs:element name="quantity" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductSkuBasicItemList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:ProductSkuBasic"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductSkuBasicRequestItemList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:ProductSkuBasicRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductUpdateSkuBasicRequestItemList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:ProductUpdateSkuBasicRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductSkuItemList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:ProductSku"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductSkuRequest">
                <xs:sequence>
                    <xs:element name="bundle" nillable="true" type="xs:boolean"/>
                    <xs:element name="mpn" nillable="true" type="xs:string"/>
                    <xs:element name="gtin" nillable="true" type="xs:string"/>
                    <xs:element name="n11CatalogId" type="xs:long"/>
                    <xs:element name="oem" nillable="true" type="xs:string"/>
                    <xs:element name="quantity" type="xs:integer"/>
                    <xs:element name="sellerStockCode" type="xs:string"/>
                    <xs:element name="attributes" type="n11:ProductAttributeRequestList"/>
                    <xs:element name="optionPrice" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItem">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForAddStockWithId">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="quantityToIncrease" type="xs:integer"/>
                    <xs:element name="version" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForUpdateStockWithId">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="quantity" type="xs:integer"/>
                    <xs:element name="version" type="xs:long"/>
                    <xs:element name="delist" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForAddStockWithIdList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:StockItemForAddStockWithId"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForUpdateStockWithIdList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:StockItemForUpdateStockWithId"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForAddStockWithSellerStockCode">
                <xs:sequence>
                    <xs:element name="sellerStockCode" type="xs:string"/>
                    <xs:element name="quantityToIncrease" type="xs:integer"/>
                    <xs:element name="version" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForUpdateStockWithSellerStockCode">
                <xs:sequence>
                    <xs:element name="sellerStockCode" type="xs:string"/>
                    <xs:element name="quantity" type="xs:integer"/>
                    <xs:element name="version" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForAddStockWithSellerStockCodeList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:StockItemForAddStockWithSellerStockCode"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForUpdateStockWithSellerStockCodeList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:StockItemForUpdateStockWithSellerStockCode"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForAddStockWithAttributes">
                <xs:sequence>
                    <xs:element name="attributes" type="n11:StockAttributeList"/>
                    <xs:element name="quantityToIncrease" type="xs:integer"/>
                    <xs:element name="version" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForUpdateStockWithAttributes">
                <xs:sequence>
                    <xs:element name="attributes" type="n11:StockAttributeList"/>
                    <xs:element name="quantity" type="xs:integer"/>
                    <xs:element name="version" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForAddStockWithAttributesList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:StockItemForAddStockWithAttributes"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemForUpdateStockWithAttributesList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:StockItemForUpdateStockWithAttributes"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockAttribute">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockAttributeList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="attribute" type="n11:StockAttribute"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockItemList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:StockItem"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockDataWithProductId">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItems" type="n11:StockItemList"/>
                    <xs:element name="product" type="n11:ProductWithId"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductWithId">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StockDataWithProductSellerCode">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItems" type="n11:StockItemList"/>
                    <xs:element name="product" type="n11:ProductWithSellerCode"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductWithIdAndStockId">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="stockList" type="n11:StockItemForAddStockWithIdList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductWithIdAndStockSellerCode">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="stockList" type="n11:StockItemForAddStockWithSellerStockCodeList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductWithIdAndStockAttributes">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="stockItems" type="n11:StockItemForAddStockWithAttributesList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductWithIdAndStockAttributesForUpdate">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="stockItems" type="n11:StockItemForUpdateStockWithAttributesList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductWithSellerCode">
                <xs:sequence>
                    <xs:element name="sellerCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductAttribute">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductAttributeRequest">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductAttributeRequestList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="attribute" type="n11:ProductAttributeRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductAttributeList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="attribute" type="n11:ProductAttribute"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductDiscount">
                <xs:sequence>
                    <xs:element name="startDate" type="xs:string"/>
                    <xs:element name="endDate" type="xs:string"/>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element name="maxPurchaseCount" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductDiscountRequest">
                <xs:sequence>
                    <xs:element name="startDate" type="xs:string"/>
                    <xs:element name="endDate" type="xs:string"/>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductSearch">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="saleDate" type="n11:DateRange"/>
                    <xs:element name="approvalStatus" type="n11:ProductStatus"/>
                    <xs:element name="bundle" nillable="true" type="xs:boolean"/>
                    <xs:element name="mpn" nillable="true" type="xs:string"/>
                    <xs:element name="gtin" nillable="true" type="xs:string"/>
                    <xs:element name="oem" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductQuestionSearch">
                <xs:sequence>
                    <xs:element name="productId" type="xs:long"/>
                    <xs:element name="buyerEmail" type="xs:string"/>
                    <xs:element name="subject" type="xs:string"/>
                    <xs:element name="status" type="n11:ProductQuestionStatus"/>
                    <xs:element name="questionDate" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DateRange">
                <xs:sequence>
                    <xs:element name="startDate" type="xs:string"/>
                    <xs:element name="endDate" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="ProductStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Active"/>
                    <xs:enumeration value="Suspended"/>
                    <xs:enumeration value="Prohibited"/>
                    <xs:enumeration value="WaitingForApproval"/>
                    <xs:enumeration value="Rejected"/>
                    <xs:enumeration value="UnapprovedUpdate"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="ProductQuestionStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CLOSED"/>
                    <xs:enumeration value="OPEN"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ProductSkuList">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:ProductSku"/>
                    <xs:element name="productSellerCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductSkuRequestList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stockItem" type="n11:ProductSkuRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SellerProductDiscount">
                <xs:sequence>
                    <xs:element name="discountType" type="xs:integer"/>
                    <xs:element name="discountValue" type="xs:double"/>
                    <xs:element name="discountStartDate" type="xs:string"/>
                    <xs:element name="discountEndDate" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductApprovalStatusResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="result" type="n11:ProductApprovalStatusApi"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductApprovalStatusApi">
                <xs:sequence>
                    <xs:element name="approvedCount" type="xs:long"/>
                    <xs:element name="unapprovedCount" type="xs:long"/>
                    <xs:element name="waitingApprovalCount" type="xs:long"/>
                    <xs:element name="waitingCount" type="xs:long"/>
                    <xs:element name="rejectedCount" type="xs:long"/>
                    <xs:element name="totalCount" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateProductsByPimsRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="productIdList" type="n11:ProductIdList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductIdList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="productId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductUnitInfoModel">
                <xs:sequence>
                    <xs:element name="unitType" type="xs:integer"/>
                    <xs:element name="unitWeight" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseRequest">
                <xs:sequence>
                    <xs:element name="authentication" type="n11:Authentication"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Authentication">
                <xs:sequence>
                    <xs:element name="appKey" type="xs:string"/>
                    <xs:element name="appSecret" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PagingData">
                <xs:sequence>
                    <xs:element name="currentPage" nillable="true" type="xs:int"/>
                    <xs:element name="pageSize" nillable="true" type="xs:int"/>
                    <xs:element name="totalCount" nillable="true" type="xs:long"/>
                    <xs:element name="pageCount" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RequestPagingData">
                <xs:sequence>
                    <xs:element name="currentPage" nillable="true" type="xs:int"/>
                    <xs:element name="pageSize" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCategory" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResultInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCategory" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetProductStockByProductIdRequest">
        <wsdl:part element="tns:GetProductStockByProductIdRequest" name="GetProductStockByProductIdRequest"/>
    </wsdl:message>
    <wsdl:message name="GetProductStockByProductIdResponse">
        <wsdl:part element="tns:GetProductStockByProductIdResponse" name="GetProductStockByProductIdResponse"/>
    </wsdl:message>
    <wsdl:message name="GetProductStockByProductSellerCodeRequest">
        <wsdl:part element="tns:GetProductStockByProductSellerCodeRequest" name="GetProductStockByProductSellerCodeRequest"/>
    </wsdl:message>
    <wsdl:message name="GetProductStockByProductSellerCodeResponse">
        <wsdl:part element="tns:GetProductStockByProductSellerCodeResponse" name="GetProductStockByProductSellerCodeResponse"/>
    </wsdl:message>
    <wsdl:message name="IncreaseStockByStockIdRequest">
        <wsdl:part element="tns:IncreaseStockByStockIdRequest" name="IncreaseStockByStockIdRequest"/>
    </wsdl:message>
    <wsdl:message name="IncreaseStockByStockIdResponse">
        <wsdl:part element="tns:IncreaseStockByStockIdResponse" name="IncreaseStockByStockIdResponse"/>
    </wsdl:message>
    <wsdl:message name="IncreaseStockByStockSellerCodeRequest">
        <wsdl:part element="tns:IncreaseStockByStockSellerCodeRequest" name="IncreaseStockByStockSellerCodeRequest"/>
    </wsdl:message>
    <wsdl:message name="IncreaseStockByStockSellerCodeResponse">
        <wsdl:part element="tns:IncreaseStockByStockSellerCodeResponse" name="IncreaseStockByStockSellerCodeResponse"/>
    </wsdl:message>
    <wsdl:message name="IncreaseStockByStockAttributesRequest">
        <wsdl:part element="tns:IncreaseStockByStockAttributesRequest" name="IncreaseStockByStockAttributesRequest"/>
    </wsdl:message>
    <wsdl:message name="IncreaseStockByStockAttributesResponse">
        <wsdl:part element="tns:IncreaseStockByStockAttributesResponse" name="IncreaseStockByStockAttributesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateStockByStockIdRequest">
        <wsdl:part element="tns:UpdateStockByStockIdRequest" name="UpdateStockByStockIdRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateStockByStockIdResponse">
        <wsdl:part element="tns:UpdateStockByStockIdResponse" name="UpdateStockByStockIdResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateStockByStockSellerCodeRequest">
        <wsdl:part element="tns:UpdateStockByStockSellerCodeRequest" name="UpdateStockByStockSellerCodeRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateStockByStockSellerCodeResponse">
        <wsdl:part element="tns:UpdateStockByStockSellerCodeResponse" name="UpdateStockByStockSellerCodeResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteAndUpdateStockByStockAttributesRequest">
        <wsdl:part element="tns:DeleteAndUpdateStockByStockAttributesRequest" name="DeleteAndUpdateStockByStockAttributesRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteAndUpdateStockByStockAttributesResponse">
        <wsdl:part element="tns:DeleteAndUpdateStockByStockAttributesResponse" name="DeleteAndUpdateStockByStockAttributesResponse"/>
    </wsdl:message>
    <wsdl:portType name="ProductStockServicePort">
        <wsdl:operation name="GetProductStockByProductId">
            <wsdl:input message="tns:GetProductStockByProductIdRequest" name="GetProductStockByProductIdRequest"/>
            <wsdl:output message="tns:GetProductStockByProductIdResponse" name="GetProductStockByProductIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetProductStockByProductSellerCode">
            <wsdl:input message="tns:GetProductStockByProductSellerCodeRequest" name="GetProductStockByProductSellerCodeRequest"/>
            <wsdl:output message="tns:GetProductStockByProductSellerCodeResponse" name="GetProductStockByProductSellerCodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="IncreaseStockByStockId">
            <wsdl:input message="tns:IncreaseStockByStockIdRequest" name="IncreaseStockByStockIdRequest"/>
            <wsdl:output message="tns:IncreaseStockByStockIdResponse" name="IncreaseStockByStockIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="IncreaseStockByStockSellerCode">
            <wsdl:input message="tns:IncreaseStockByStockSellerCodeRequest" name="IncreaseStockByStockSellerCodeRequest"/>
            <wsdl:output message="tns:IncreaseStockByStockSellerCodeResponse" name="IncreaseStockByStockSellerCodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="IncreaseStockByStockAttributes">
            <wsdl:input message="tns:IncreaseStockByStockAttributesRequest" name="IncreaseStockByStockAttributesRequest"/>
            <wsdl:output message="tns:IncreaseStockByStockAttributesResponse" name="IncreaseStockByStockAttributesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateStockByStockId">
            <wsdl:input message="tns:UpdateStockByStockIdRequest" name="UpdateStockByStockIdRequest"/>
            <wsdl:output message="tns:UpdateStockByStockIdResponse" name="UpdateStockByStockIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateStockByStockSellerCode">
            <wsdl:input message="tns:UpdateStockByStockSellerCodeRequest" name="UpdateStockByStockSellerCodeRequest"/>
            <wsdl:output message="tns:UpdateStockByStockSellerCodeResponse" name="UpdateStockByStockSellerCodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteAndUpdateStockByStockAttributes">
            <wsdl:input message="tns:DeleteAndUpdateStockByStockAttributesRequest" name="DeleteAndUpdateStockByStockAttributesRequest"/>
            <wsdl:output message="tns:DeleteAndUpdateStockByStockAttributesResponse" name="DeleteAndUpdateStockByStockAttributesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProductStockServicePortSoap11" type="tns:ProductStockServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetProductStockByProductId">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetProductStockByProductIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetProductStockByProductIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetProductStockByProductSellerCode">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetProductStockByProductSellerCodeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetProductStockByProductSellerCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IncreaseStockByStockId">
            <soap:operation soapAction=""/>
            <wsdl:input name="IncreaseStockByStockIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="IncreaseStockByStockIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IncreaseStockByStockSellerCode">
            <soap:operation soapAction=""/>
            <wsdl:input name="IncreaseStockByStockSellerCodeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="IncreaseStockByStockSellerCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IncreaseStockByStockAttributes">
            <soap:operation soapAction=""/>
            <wsdl:input name="IncreaseStockByStockAttributesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="IncreaseStockByStockAttributesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateStockByStockId">
            <soap:operation soapAction=""/>
            <wsdl:input name="UpdateStockByStockIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateStockByStockIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateStockByStockSellerCode">
            <soap:operation soapAction=""/>
            <wsdl:input name="UpdateStockByStockSellerCodeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateStockByStockSellerCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteAndUpdateStockByStockAttributes">
            <soap:operation soapAction=""/>
            <wsdl:input name="DeleteAndUpdateStockByStockAttributesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteAndUpdateStockByStockAttributesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProductStockServicePortService">
        <wsdl:port binding="tns:ProductStockServicePortSoap11" name="ProductStockServicePortSoap11">
            <soap:address location="https://api.n11.com/ws/productStockService/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>