n11/n11ShipmentCompanyService.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.n11.com/ws/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.n11.com/ws/schemas" targetNamespace="http://www.n11.com/ws/schemas">
    <wsdl:types>
        <xs:schema xmlns:n11="http://www.n11.com/ws/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.n11.com/ws/schemas">
            <xs:element name="GetShipmentCompaniesRequest">
                <xs:complexType/>
            </xs:element>
            <xs:element name="GetShipmentCompaniesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="n11:ResultInfo"/>
                        <xs:element name="shipmentCompanies" type="n11:ShipmentCompanyList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ShipmentCompanyList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="shipmentCompany" type="n11:ShipmentCompanyData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ShipmentCompanyData">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="shortName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCategory" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResultInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCategory" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetShipmentCompaniesRequest">
        <wsdl:part element="tns:GetShipmentCompaniesRequest" name="GetShipmentCompaniesRequest"/>
    </wsdl:message>
    <wsdl:message name="GetShipmentCompaniesResponse">
        <wsdl:part element="tns:GetShipmentCompaniesResponse" name="GetShipmentCompaniesResponse"/>
    </wsdl:message>
    <wsdl:portType name="ShipmentCompanyServicePort">
        <wsdl:operation name="GetShipmentCompanies">
            <wsdl:input message="tns:GetShipmentCompaniesRequest" name="GetShipmentCompaniesRequest"/>
            <wsdl:output message="tns:GetShipmentCompaniesResponse" name="GetShipmentCompaniesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShipmentCompanyServicePortSoap11" type="tns:ShipmentCompanyServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetShipmentCompanies">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetShipmentCompaniesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetShipmentCompaniesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShipmentCompanyServicePortService">
        <wsdl:port binding="tns:ShipmentCompanyServicePortSoap11" name="ShipmentCompanyServicePortSoap11">
            <soap:address location="https://api.n11.com/ws/shipmentCompanyService/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>